.landing-nav {
	height: 4.75rem;
}

.landing-nav-container {
	width: 72rem;
	max-width: 72rem;
	padding: 0 1rem;
	margin: auto;
}

.hero {
	width: 100vw;
	max-width: 72rem;
	padding: 8rem 1rem 0;
	margin: 0 auto;
	box-sizing: border-box;
}

.hero-container {
	display: flex;
	margin: 0;
	padding: 0;
}

.hero-information {
	width: 48%;
}

.hero-main-text {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

.hero-supporting-text {
	font-size: 1.125rem;
	color: #777777;
	margin-bottom: 2rem;
	width: 90%;
}

.hero-form {
	display: flex;
	flex-direction: column;
	height: 8rem;
	width: 300px;
}

.hero-input {
	padding: 1rem 1.5rem;
	border: 0.5px solid #D3D3D3;
	border-radius: 4px;
	font-size: 1.125rem;
	font-family: Karla;
	text-align: center;
}

.hero-input:focus {
	outline: none;
}

.hero-action-button {
	padding: 1rem 1.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	color: #ffffff;
	background-color: #ff8282;
	border: none;
	border-radius: 4px;
	margin-top: 10px;
	transition: background-color 0.25s ease;
}

.hero-action-button:hover {
	cursor: pointer;
	background-color: #fa6b6b;
}

.hero-action-button:focus {
	outline: none;
}

.hero-demo-image {
	max-height: 700px;
	object-fit: fill;
	display: block;
	margin: auto;
}
