* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Karla';
	-webkit-font-smoothing: antialiased;
}

nav {
	font-size: 18px;
	background-color: transparent;
	padding-bottom: 10px;
	z-index: 2;
}

.mainNav {
	list-style-type: none;
	display: none;
}

.navLinks {
	text-decoration: none;
	color: #505050;
	font-size: 18px;
	font-weight: 500;
}

.mainNav li {
	text-align: center;
	margin: 15px auto;
	font-size: 16px;
}

.logo {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
}

.navbarToggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;

	width: 30px;
	height: 30px;
}

.navbarToggle::before,
.navbarToggle::after {
	content: '';
}

.active {
	display: block;
}

.navLinks {
	transition: opacity 400ms ease-in-out;
	opacity: 0.75;
}

.navLinks:hover {
	opacity: 1;
}

.hero {
	padding: 0 20px;
}

canvas {
	height: 100vh;
	width: 100vw;
}

.imageHolder {
	display: none;
}

@media screen and (min-width: 768px) {
	nav {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}

	.mainNav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.mainNav li {
		margin: 0;
	}

	.navLinks {
		margin-left: 40px;
	}

	.logo {
		margin-top: 0;
	}

	.navbarToggle {
		display: none;
	}

	.hero {
		padding-left: 52px;
		padding-right: 52px;
	}

	.imageHolder {
		width: 50%;
		max-height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.fullscreen div {
	height: 100%;
	width: 100%;
}

.socialIcon {
	color: #ffffff;
	transition: color 0.5s ease-in-out;
}

.socialIcon:visited {
	color: #ffffff;
}
.socialIcon:hover {
	color: #d3d3d3;
}
